Repository TreasureProject/treasure-subgraphs, pull requests merged in 2022-02, with the labels that each got.

#54 [smolverse] Switch to shared randomizer
  packages/config/src/arbitrum-testnet.json
  packages/config/src/arbitrum.json
  subgraphs/smolverse/template.yaml
Labels: smolverse

#53 [bridgeworld-stats] Remove shared Stat interface
  subgraphs/bridgeworld-stats/schema.graphql
Labels: bridgeworld stats

#55 [smolverse] fix smol token ipfs.cat call
  subgraphs/smolverse/src/helpers/json.ts
Labels: smolverse

#56 [smolverse] fix parsing attributes with numeric values
  subgraphs/smolverse/schema.graphql
  subgraphs/smolverse/src/helpers/metadata.ts
  subgraphs/smolverse/src/mappings/smol-farm.ts
  subgraphs/smolverse/tests/erc721/erc721.test.ts
Labels: smolverse

#57 [bridgeworld] handle multiple withdrawals against one deposit
  packages/config/src/arbitrum-testnet.json
  subgraphs/bridgeworld/src/mappings/atlas-mine.ts
  subgraphs/bridgeworld/tests/atlas-mine.test.ts
  subgraphs/bridgeworld/tests/helpers/atlas-mine.ts
  subgraphs/bridgeworld/tests/helpers/constants.ts
  subgraphs/bridgeworld/tests/helpers/index.ts
  subgraphs/bridgeworld/tests/helpers/magic.ts
Labels: bridgeworld

#58 [bridgeworld] Add summoning result to finished summon entity
  subgraphs/bridgeworld/schema.graphql
  subgraphs/bridgeworld/src/mappings/summoning.ts
  subgraphs/bridgeworld/tests/helpers/constants.ts
  subgraphs/bridgeworld/tests/helpers/summoning.ts
  subgraphs/bridgeworld/tests/summoning.test.ts
Labels: bridgeworld

#63 [smolverse] track collection token and staked token counts
  subgraphs/smolverse/schema.graphql
  subgraphs/smolverse/src/helpers/metadata.ts
  subgraphs/smolverse/src/helpers/models.ts
  subgraphs/smolverse/src/helpers/token-id.ts
  subgraphs/smolverse/src/mappings/common.ts
  subgraphs/smolverse/tests/smol-farm/smol-farm.test.ts
  subgraphs/smolverse/tests/utils.ts
Labels: smolverse

#74 [smolverse] update iq, plates, head/swol size attributes on drop events
  subgraphs/smolverse/schema.graphql
  subgraphs/smolverse/src/helpers/metadata.ts
  subgraphs/smolverse/src/helpers/models.ts
  subgraphs/smolverse/src/helpers/number.ts
  subgraphs/smolverse/src/mappings/common.ts
  subgraphs/smolverse/src/mappings/smol-bodies-gym.ts
  subgraphs/smolverse/src/mappings/smol-bodies.ts
  subgraphs/smolverse/src/mappings/smol-brains-school.ts
  subgraphs/smolverse/src/mappings/smol-brains.ts
  subgraphs/smolverse/tests/smol-bodies-gym/smol-bodies-gym.test.ts
  subgraphs/smolverse/tests/smol-bodies-gym/utils.ts
  subgraphs/smolverse/tests/smol-brains-school/smol-brains-school.test.ts
Labels: smolverse

#83 Implement Crafting stats
  subgraphs/bridgeworld-stats/schema.graphql
  subgraphs/bridgeworld-stats/src/helpers/constants.ts
  subgraphs/bridgeworld-stats/src/helpers/ids.ts
  subgraphs/bridgeworld-stats/src/helpers/models.ts
  subgraphs/bridgeworld-stats/src/helpers/number.ts
  subgraphs/bridgeworld-stats/src/helpers/treasure.ts
  subgraphs/bridgeworld-stats/src/mappings/crafting.ts
  subgraphs/bridgeworld-stats/src/mappings/summoning.ts
  subgraphs/bridgeworld-stats/template.yaml
  subgraphs/bridgeworld-stats/tests/crafting/crafting.test.ts
  subgraphs/bridgeworld-stats/tests/crafting/utils.ts
  subgraphs/bridgeworld-stats/tests/summoning/summoning.test.ts
  subgraphs/bridgeworld-stats/tests/utils.ts
Labels: bridgeworld stats

#85 Add Questing stats
  packages/constants/src/index.template.ts
  subgraphs/bridgeworld-stats/schema.graphql
  subgraphs/bridgeworld-stats/src/helpers/constants.ts
  subgraphs/bridgeworld-stats/src/helpers/ids.ts
  subgraphs/bridgeworld-stats/src/helpers/models.ts
  subgraphs/bridgeworld-stats/src/mappings/crafting.ts
  subgraphs/bridgeworld-stats/src/mappings/questing.ts
  subgraphs/bridgeworld-stats/template.yaml
  subgraphs/bridgeworld-stats/tests/crafting/crafting.test.ts
  subgraphs/bridgeworld-stats/tests/crafting/utils.ts
  subgraphs/bridgeworld-stats/tests/questing/questing.test.ts
  subgraphs/bridgeworld-stats/tests/questing/utils.ts
  subgraphs/bridgeworld-stats/tests/utils.ts
Labels: bridgeworld stats

#88 [bridgeworld-stats] filter hourly stats by block number; optimize stats models
  packages/config/src/arbitrum-testnet.json
  packages/config/src/arbitrum.json
  packages/constants/src/index.template.ts
  subgraphs/bridgeworld-stats/src/helpers/models.ts
  subgraphs/bridgeworld-stats/src/mappings/atlas-mine.ts
  subgraphs/bridgeworld-stats/src/mappings/crafting.ts
  subgraphs/bridgeworld-stats/src/mappings/questing.ts
  subgraphs/bridgeworld-stats/src/mappings/summoning.ts
  subgraphs/bridgeworld-stats/tests/atlas-mine/utils.ts
  subgraphs/bridgeworld-stats/tests/crafting/utils.ts
  subgraphs/bridgeworld-stats/tests/questing/utils.ts
  subgraphs/bridgeworld-stats/tests/summoning/utils.ts
Labels: bridgeworld stats
